section {
    padding: 30px 0;
}

.about p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

h1 {
    color: #3a4052;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.video-text {
    background: #191919;
    display: flex;
    align-items: center;
    height: 70vh;
}

.video-text .container {
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.video-text video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.video-text svg {
    display: block;
    width: 100%;
    position: relative;
    z-index: 2;
}

.video-text text {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.video-text text.line-1 {
    font-size: 110px;
    letter-spacing: 0.079em;
}

/*<!--Gallery-->*/

.gallery_container {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 2rem 2rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
}

.gallery-row {
}

.gallery-item {
    flex: 1 0 10rem;
    margin: 1rem;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease-out;
}

.gallery-image:hover {
    transform: scale(1.15);
}

@supports (display: grid) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        grid-gap: 1rem;
    }

    .gallery,
    .gallery-item {
        margin: 0;
    }
}

/*<!-- About Section -->*/
.about_us {
    position: relative;
    box-sizing: border-box;

    margin: auto;
    height: auto;
    width: 900px;
}

.about_us-column {
    display: inline-block;
    height: auto;
}

.column {
    display: block;
    margin: 15px auto;
}

.left {
    float: left;
    text-align: right;
}

.right {
    float: right;
    text-align: left;
}

.content-container {
    display: inline-block;
    width: 600px;
    line-height: 1.45;
    float: right;
    margin: 0 20px;
}

.humble-content {
    float: left;
}

.article-title {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 0;
}

.article-description {
    font-size: 16px;
}

.circle-demo {
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    border-style: solid;
    border-color: gainsboro;
    border-width: 2px;
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

@media screen and (max-width: 900px) {
    .about p {
        font-size: 1rem;
    }

    .about_us {
        width: 500px;
    }

    .about_us-column {
        width: 540px;
    }

    h1 {
        font-size: 25px;
    }

    .humble-content {
        float: none;
    }

    .content-container {
        float: none;
        width: 500px;
    }

    .content-container h5, p {
        text-align: center;
        width: 500px;
        align-items: center;
        margin: 5px 0;
    }

    .circle-demo {
        display: none;
    }

    .right {
        float: none;
        text-align: inherit;
    }

    .left {
        float: inherit;
        text-align: inherit;
    }

    .article-description {
        font-size: 14px;
    }
}

/**Contact form */

form {
    max-width: 500px;
    margin: 15px auto;
    padding: 0 10px;
}

.feedback-input {
    color: #313639;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #313639;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #313639;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    background: #313639;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: #ffbe00;
    color: #313639;

}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 250px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #313639;
    color: #ffb300;
    font-size: 20px;
    margin: auto;
    padding: 25px;
    width: 15%;
    text-align: center;
    border-radius: 3%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ffbe00;
    text-decoration: none;
    cursor: pointer;
}