body {
    background-image: linear-gradient(to right, #ECE9E6, #FFFFFF);
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.raise_anchor{
    right: 0;
    bottom: 0;
    max-height: 100px;
    max-width: 100px;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 10px 14px;

    position: fixed;
    display: block;
    overflow-x: hidden;
    border-radius: 50%;

    text-decoration: none;

    font-size: 25px;
    color: white;
    background-color: #313639;
}

.raise_anchor:hover{
    color: #313639;
    background-color: #ffbe00;
}